/**************************
 * Resets                 *
 **************************/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0; 
}

img {
    max-width: 100%;
    display: block;
}

input,
button {
    font: inherit;
}



body {
    font-family: 'Anek Tamil', sans-serif;
    height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    position: relative;
}

/**************************
 * Utitlies               *
 **************************/

.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

.btn {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    transition: background-color 250ms ease-in-out;
}

.btn:hover {
    background-color: darkgray;
}

/**************************
 * Primary header         *
 **************************/

.primary-header {
    padding: 10px;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr min-content;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
}

.primary-header .brand {
    display: grid;
    column-gap: 10px;
    grid-template-columns: min-content 1fr;
    align-items: center;
}

.primary-header .brand-image {
    width: clamp(80px, 10vw, 100px)
}

.primary-header .brand:not(:hover) .brand-image {
    animation: shake 4.72s 3s cubic-bezier(.36,.07,.19,.97) infinite;
}

.primary-header .brand-text {
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    font-size: clamp(1.1rem, 4vw, 1.8rem);
}

.primary-header .brand-text span {
    display: inline-block;
    vertical-align: middle;
}

.primary-header .brand-text-suprise {
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: max-width 500ms ease-in-out;
}

.primary-header .brand #left_eyebrow {
    transform-origin: right;
}

.primary-header .brand #right_eyebrow {
    transform-origin: left;
}

.primary-header .brand #left_eyebrow,
.primary-header .brand #right_eyebrow {
    transform-box: fill-box;
    transition: transform 500ms ease-in-out;
}

.primary-header .brand:hover #left_eyebrow,
.primary-header .brand:active #left_eyebrow {
    transform: rotate(10deg);
}

.primary-header .brand:hover #right_eyebrow,
.primary-header .brand:active #right_eyebrow {
    transform: rotate(-10deg);
}

.primary-header .brand:hover .brand-text-suprise,
.primary-header .brand:active .brand-text-suprise{
    max-width: 150px;
}

.primary-header .mobile-nav-toggle {
    display: block;
    width: 32px;
    align-self: center;
    aspect-ratio: 1;
    border: 0;
    background-color: transparent;
    background-image: url('../images/icon-hamburger.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.primary-header .mobile-nav-toggle[aria-expanded='true']{
    background-image: url('../images/icon-close.svg');
}

.mobile-nav-toggle:focus-visible {
    outline: 3px solid black;
    outline-offset: 3px;
}

@media (min-width: 45em) {
    .primary-header {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .primary-header .brand {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .primary-header .mobile-nav-toggle {
        display: none;
    }
}

/**************************
 * Main                   *
 **************************/

main {
    display: grid;
    grid-template-columns: 1fr;
    overflow: auto;
}

@media (min-width: 45em) {
    main {
        grid-template-columns: min-content 1fr;
    }
}

/**************************
 * Project navigation     *
 **************************/

.project-navigation {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    min-width: 250px;
    overflow: auto;
    background-color: white;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
    transform: translateX(-100%);
    transition: transform 500ms ease-in-out;
}

.project-navigation[data-visible='true'] {
    transform: translateX(0);
}

.project-navigation .navigation-section {
    display: flex;
    row-gap: 15px;
    flex-direction: column;
    padding: 15px;
}

.project-navigation .navigation-projects {
    overflow: auto;
}

.project-navigation .navigation-projects .navigation-section-items {
    overflow: auto;
}

.project-navigation .navigation-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}

.project-navigation .navigation-section-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.project-navigation .new-project-modal-open {
    font-size: 1.5rem;
    aspect-ratio: 1;
}

.project-navigation .navigation-section-items {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding-right: 15px;
}

.project-navigation .navigation-section-item {
    text-align: left;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(230, 227, 227);
}

.project-navigation .navigation-section-item:hover {
    background-color: darkgray;
}

@media (min-width: 45em) {
    .project-navigation {
        position: static;
    }
}

/**************************
 * Project section        *
 **************************/

.project {
    display: grid;
    grid-template-rows: min-content 1fr;
    padding: 20px;
    overflow: auto;
}

.project .project-header {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 15px;
    margin-right: 15px;
    border-bottom: 2px solid black;
}

.project .project-title {
    font-size: 1.6rem;
}

.project .new-task-modal-open {
    font-size: 1.5rem;
    aspect-ratio: 1;
}

.project .tasks {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    row-gap: 15px;
    padding: 0 15px 15px 0;
    overflow: auto;
}

.project .task {
    padding: 10px;
    border-radius: 4px;
    border-left: 5px solid maroon;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.project .task-header {
    display: grid;
    grid-template-columns: 35px 1fr auto;
    column-gap: 15px;
    align-items: center;
}

.project .task-complete-toggle {
    grid-row: span 2;
    display: grid;
    place-items: center;

    -webkit-appearance: none;
    appearance: none;
    position: relative;
    margin: 0;

    aspect-ratio: 1;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 50%;
}

.project .task-complete-toggle::before {
    content: '\F0E1E';
    font-family: 'Material Design Icons';
    font-size: 1.6rem;
    position: absolute;
    transform: scale(0);
    transform-origin: center;
    transition: transform 250ms ease-in-out;
}

.project .task-complete-toggle:checked::before {
    transform: scale(1);
}

.project .task-title {
    font-size: 1.2rem;
}

.project .task-actions .btn {
    font-size: 1.5rem;
    aspect-ratio: 1;
}

.project .task .task-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 0;
    overflow: hidden;
    transition: max-height 250ms ease-in-out;
}

.project .task.expanded .task-details {
    max-height: 200px;
}

.project .task-description {
    grid-column: span 2;
    padding: 5px 0;
}

.project .task-project {
    text-align: right;
}

.project .task-priority-value,
.project .task-project-value {
    font-weight: bold;
}

/**************************
 * Primary footer         *
 **************************/

 .primary-footer {
     padding: 10px;
     text-align: center;
     font-size: .9rem;
 }

/**************************
 * Keyframes              *
 **************************/

@keyframes shake {
    0% { transform: translate(0, 0) }
    1.78571% { transform: translate(5px, 0) }
    3.57143% { transform: translate(0, 0) }
    5.35714% { transform: translate(5px, 0) }
    7.14286% { transform: translate(0, 0) }
    8.92857% { transform: translate(5px, 0) }
    10.71429% { transform: translate(0, 0) }
    100% { transform: translate(0, 0) }
}
