/**************************
 * Resets                 *
 **************************/

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus-visible,
*:focus-visible::before,
*:focus-visible::after {
    outline: 2px solid hsl(var(--accent-color));
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0; 
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: hsl(var(--accent-color));
}

a:hover {
    text-decoration: underline;
}

input,
textarea,
button {
    font: inherit;
}

:root {
    --dark-color: 0 0% 22%;
    --light-color: 0 0% 95%;
    --accent-color: 181 89% 21%;
    --accent-color-2: 49 46% 64%;
}

body {
    font-family: 'Anek Tamil', sans-serif;
    height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    position: relative;
    background-color: hsl(var(--light-color));
    color: hsl(var(--dark-color));
}

/**************************
 * Utitlies               *
 **************************/

.clipped {
    overflow: hidden !important;
}

.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

.uppercase {
    text-transform: uppercase;
}

/**************************
 * Button                 *
 **************************/

.btn {
    display: grid;
    grid-auto-flow: column;
    column-gap: 3px;
    place-items: center;
    font-size: 1rem;
    cursor: pointer;
    padding: 5px;
    border: 2px solid hsl(var(--dark-color));
    border-radius: 5px;
    background-color: transparent;
    transition: background-color 250ms ease-in-out;
}

.btn .mdi {
    display: grid;
}

.btn:hover {
    background-color: hsl(var(--dark-color) / .15);
}

.btn--small {
    font-size: .8rem;
}

.btn--medium {
    font-size: 1.2rem;
}

.btn--big {
    font-size: 1.6rem;
}

.btn--square {
    aspect-ratio: 1 / 1;
}

.btn--borderless {
    border: 0;
}

.btn--primary {
    color: hsl(var(--light-color));
    border-color: hsl(var(--accent-color));
    background-color: hsl(var(--accent-color));
}

.btn--primary:hover {
    background-color: hsl(var(--accent-color) / .8);
}

.btn--secondary {
    background-color: hsl(var(--accent-color-2));
}

.btn--secondary:hover {
    background-color: hsl(var(--accent-color-2) / .8);
}

/**************************
 * Primary header         *
 **************************/

.primary-header {
    padding: 10px;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr min-content;
    box-shadow: hsl(var(--dark-color) / .25) 0px 1px 4px;
}

.primary-header .brand {
    display: grid;
    column-gap: 10px;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
}

.primary-header .brand-image {
    width: clamp(80px, 10vw, 100px);
}

.primary-header .brand-image path {
    fill: hsl(var(--dark-color));
}

.primary-header .brand:not(:hover) .brand-image {
    animation: shake 4.72s 3s cubic-bezier(.36,.07,.19,.97) infinite;
}

.primary-header .brand-text {
    font-family: 'Permanent Marker', cursive;
    font-size: clamp(1.1rem, 4vw, 1.8rem);
    color: hsl(var(--dark-color));
}

.primary-header .brand-text span {
    display: inline-block;
    vertical-align: middle;
}

.primary-header .brand-text-suprise {
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: max-width 500ms ease-in-out;
}

.primary-header .brand #left_eyebrow {
    transform-origin: right;
}

.primary-header .brand #right_eyebrow {
    transform-origin: left;
}

.primary-header .brand #left_eyebrow,
.primary-header .brand #right_eyebrow {
    transform-box: fill-box;
    transition: transform 500ms ease-in-out;
}

.primary-header .brand:hover #left_eyebrow,
.primary-header .brand:active #left_eyebrow {
    transform: rotate(10deg);
}

.primary-header .brand:hover #right_eyebrow,
.primary-header .brand:active #right_eyebrow {
    transform: rotate(-10deg);
}

.primary-header .brand:hover .brand-text-suprise,
.primary-header .brand:active .brand-text-suprise{
    max-width: 150px;
}

.primary-header .mobile-nav-toggle {
    display: block;
    padding: 5px;
    align-self: center;
    aspect-ratio: 1;
    border: 0;
    color: inherit;
    background-color: transparent;
}

.primary-header .mobile-nav-toggle::before {
    content: '\F035C';
    font-family: 'Material Design Icons';
    font-size: 1.8rem;
}

.primary-header .mobile-nav-toggle[aria-expanded='true']::before {
    content: '\F0156';
}

.mobile-nav-toggle:focus-visible {
    outline: 3px solid black;
    outline-offset: 3px;
}

@media (min-width: 45em) {
    .primary-header {
        z-index: 50;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .primary-header .brand {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .primary-header .mobile-nav-toggle {
        display: none;
    }
}

/**************************
 * Main                   *
 **************************/

main {
    display: grid;
    grid-template-columns: 1fr;
    overflow: auto;
}

@media (min-width: 45em) {
    main {
        grid-template-columns: min-content 1fr;
    }
}

/**************************
 * Project navigation     *
 **************************/

.project-navigation {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    min-width: 250px;
    overflow: auto;
    background-color: hsl(var(--light-color));
    box-shadow: hsl(var(--dark-color) / .25) 0px 1px 4px;
    transform: translateX(-100%);
    transition: transform 500ms ease-in-out;
}

.project-navigation[data-visible='true'] {
    transform: translateX(0);
}

.project-navigation .navigation-section {
    display: flex;
    row-gap: 15px;
    flex-direction: column;
    padding: 15px;
}

.project-navigation .navigation-section-header {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
}

.project-navigation .navigation-section-title {
    font-weight: bold;
    font-size: 1.1rem;
    color: hsl(var(--accent-color));
}

.project-navigation .naigation-section-actions {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
}

.project-navigation .navigation-section-items {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.project-navigation .navigation-section-item {
    justify-content: left;
    padding: 5px 10px;
}

.project-navigation .navigation-section-item.active {
    background-color: hsl(var(--dark-color) / .15);
}

@media (min-width: 45em) {
    .project-navigation {
        z-index: 25;
        position: relative;
        transform: translateX(0);
    }
}

/**************************
 * Project section        *
 **************************/

.project {
    display: grid;
    grid-template-rows: min-content 1fr;
    padding: 20px 20px 0;
    overflow: auto;
}

.project .project-header {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    padding-bottom: 5px;
    margin: 0 15px 15px 15px;
    border-bottom: 2px solid hsl(var(--accent-color));
}

.project .project-title {
    font-size: 1.6rem;
    color: hsl(var(--accent-color));
}

.project .project-actions {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
}

.project .tasks {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    row-gap: 15px;
    padding: 15px;
    overflow: auto;
}

.project .task {
    padding: 10px;
    border-radius: 4px;
    border-left: 5px solid transparent;
    box-shadow: hsl(var(--dark-color) / .25) 0px 0px 5px 0px, hsl(var(--dark-color) / .25) 0px 0px 1px 0px;
}

.project .task[data-task-priority="normal"] {
    border-left-color: white;
}

.project .task[data-task-priority="low"] {
    border-left-color: #2980b9;
}

.project .task[data-task-priority="medium"] {
    border-left-color: #f39c12;
}

.project .task[data-task-priority="high"] {
    border-left-color: #e74c3c; 
}

.project .task-header {
    display: grid;
    grid-template-columns: 35px 1fr auto;
    column-gap: 15px;
    align-items: center;
}

.project .task-complete-toggle {
    grid-row: span 2;
    display: grid;
    place-items: center;

    -webkit-appearance: none;
    appearance: none;
    position: relative;
    margin: 0;

    aspect-ratio: 1;
    cursor: pointer;
    border: 3px solid hsl(var(--dark-color));
    border-radius: 50%;
}

.project .task-complete-toggle::before {
    content: '\F0E1E';
    font-family: 'Material Design Icons';
    font-size: 1.6rem;
    color: inherit;
    position: absolute;
    transform: scale(0);
    transform-origin: center;
    transition: transform 250ms ease-in-out;
}

.project .task-complete-toggle:checked::before {
    transform: scale(1);
}

.project .task-title {
    font-size: 1.2rem;
}

.project .task-actions {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
}

.project .task .task-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 0;
    overflow: hidden;
    transition: max-height 250ms ease-in-out;
}

.project .task.expanded .task-details {
    max-height: 200px;
}

.project .task-description {
    grid-column: span 2;
    padding: 5px 0;
}

.project .task-project {
    text-align: right;
}

.project .task-priority-value,
.project .task-project-value {
    font-weight: bold;
    padding-left: 5px;
}

/**************************
 * Primary footer         *
 **************************/

.primary-footer {
    padding: 10px;
    text-align: center;
    font-size: .9rem;
    z-index: 25;
    box-shadow: 
        hsl(var(--dark-color) / .35) 0px 0.0625em 0.0625em, 
        hsl(var(--dark-color) / .35) 0px 0.125em 0.5em, 
        hsl(var(--light-color) / .25) 0px 0px 0px 1px inset;
}

/**************************
 * Modal                  *
 **************************/

.modal {
    position: absolute;
    z-index: 200;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsl(var(--dark-color) / .8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal.active {
    animation: fadeIn 250ms ease-in-out forwards;
}

.modal.inactive {
    animation: fadeOut 250ms ease-in-out;
}

.modal-card {
    width: 100%;
    max-height: calc(100vh - 50px);
    border-radius: 5px;
    background-color: hsl(var(--light-color));
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: hsl(var(--dark-color) / .8) 0px 1px 4px;
}

.modal.inactive .modal-card {
    animation: scaleOut 250ms ease-in-out;
}

.modal.active .modal-card {
    animation: scaleIn 250ms ease-in-out forwards;
}

.modal-close-button {
    position: absolute;
    top: 0;
    right: 0;
}

.modal-card-header {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 20px 15px 10px;
    color: hsl(var(--accent-color));
    border-bottom: 2px solid hsl(var(--dark-color));
}

.modal-card-body {
    padding: 20px 15px;
    overflow: auto;
}

.modal-card-footer {
    border-top: 2px solid hsl(var(--dark-color));
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
}

@media (min-width: 45em) {
    .modal-card {
        width: 640px;
    }
}

/**************************
 * Form                   *
 **************************/

.form {
    display: grid;
    row-gap: 10px;
}

.form-field {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.form-field label {
    font-weight: bold;
    text-transform: uppercase;
}

.form-field input[type="text"],
.form-field input[type="date"],
.form-field textarea,
.form-field select {
    padding: 5px 10px;
    border: 2px solid black;
    background-color: transparent;
}

.form-field .error {
    color: darkred;
    font-size: .9rem;
    font-weight: bold;
}

/**************************
 * Keyframes              *
 **************************/

@keyframes shake {
    0% { transform: translate(0, 0) }
    1.78571% { transform: translate(5px, 0) }
    3.57143% { transform: translate(0, 0) }
    5.35714% { transform: translate(5px, 0) }
    7.14286% { transform: translate(0, 0) }
    8.92857% { transform: translate(5px, 0) }
    10.71429% { transform: translate(0, 0) }
    100% { transform: translate(0, 0) }
}

@keyframes scaleIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes scaleOut {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
